
<!doctype html>
<html>
<head>
</head>
<body>
	<pa-menu></pa-menu>
		<!--
	<section ng-controller="MenuCtrl" ng-init="list()">
		<p>{{ menu }}</p>


		<form ng-submit="create(newMenuItem)" novalidate>
			<input type="text" ng-model="newMenuItem.id" placeholder="id" required/><br/>
			<input type="text" ng-model="newMenuItem.name" placeholder="name" required/><br/>
			<label>In Stock?</label><input type="checkbox" ng-model="newMenuItem.inStock" required/><br/>
			<input type="number" ng-model="newMenuItem.price" placeholder="price" required/><br/>
			<label>Is Special?</label><input type="checkbox" ng-model="newMenuItem.isSpecial" required/><br/>
			<input type="submit" value="create"/>
		</form>
	</section>
		-->
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.js"></script>

	<script src="menu/menu.client.module.js"></script>
	<script src="menu/menu.client.controller.js"></script>
	<script src="menu/menu.client.directive.js"></script>
	<script src="application.js"></script>
</body>
</html>
