


<section class="paWork" ng-controller="WorkCtrl" ng-init="list()">
	<section class="row menuTitleRow">
		<div class="col-xs-12">
			<h2 style="menuTitle">Work Orders</h2>
		</div>
	</section>
	<section class="row">
		<div class="col-xs-12">
		<table class="table" ng-if="orders.length > 0">
			<th>Id</th>
			<th>Date</th>
			<th>Type</th>
			<th>Meal</th>
			<tr ng-repeat="order in orders | orderBy: '-timestamp'">
				<td>{{ order.id | limitTo: 4 }}...</td>
				<td>{{ order.timestamp * 1000 | date: 'medium' }}</td>
				<td ng-if="order.isDelivery">Delivery</td>
				<td ng-if="!order.isDelivery">Dine In</td>
				<td>
					<ul>
						<li ng-repeat="item in order.lineItems">{{ item.quantity }}x {{ item.item.name }}</li>
					</ul>
				</td>
				<td><a href ng-click="markComplete(order)"><span class="glyphicon glyphicon-check"></span></a>
			</tr>
		</table>

		<p class="col-xs-12" style="color: lightgray;" ng-if="orders.length <= 0">No work orders.</p>
		</div>
	</section>
</section>
